/* Adicionando estilos para o corpo da página */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    background-color: #ff9900;

}
.topo {
    text-align: center;
    padding: 100px 0;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.topo h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #fff;
}

.topo p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #333
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    justify-content: center;
}
.btn:hover {
    background-color: #ff9900;
}

/* Estilos para a seção de serviços (services) */
section div {
    text-align: center;
    padding: 40px;
    border-radius: 20px;
    width: 30%;
    display: inline-block;
}
.servicos {
    text-align: center;
    padding: 80px 0;
    display: inline-block;
    margin: 0 20px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.servicos h2 {
    font-size: 32px;
    margin-bottom: 40px;
    color: #333;
}
.servicos img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    display: inline-block;
    margin: 10px;
    width: 200px;
    height: auto;
}
.servicos p {
    font-size: 16px;
    color: black;
    text-align: justify;
}
/* Estilos para a seção "Sobre Nós" (about-us) */
.sobre {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    display: flexss;
    margin: 50px;
    width: 800px;
    height: auto;
}
.sobre h2 {
    font-size: 32px;
    margin-bottom: 40px;
    color: #333;
}

.sobre p {
    font-size: 16px;
    color: black;
    text-align: justify;
}

/* Estilos para a seção de contato (contact) */
.contato {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    display: flexss;
    margin: 50px;
    width: 800px;
    height: auto;
}

