/* Adicionando estilos para o corpo da página */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    background-color: #ff9900;

}
.topo {
    text-align: center;
    padding: 100px 0;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.topo h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #fff;
}

.topo p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #333
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    justify-content: center;
}
.btn:hover {
    background-color: #ff9900;
}





