.contatos {

    width: 70%;
    margin: 0 auto;
    padding: 2px 10px 5px 25px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    margin: 50px 0px 50px 280px;

}
.contatos h1 {
    font-size: 48px;
    margin-bottom: 20px;
    /*text-align: center;*/
    font-weight: bold;
}
.contatos h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
}
.contall {
  
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.contatoinfo {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.tipocontato {
    padding: 0px 270px 0px 0px;
}