.rodape {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    max-width: 1128px;
    border-radius: 2rem;
    width: 98%;
    background-color: #333;
  }
  .rodape p {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 0.5rem;
    color: #fff;
  }
  